/* .container{
    margin: 0 auto;
    width: 90%;
} */
/* Variables CSS */
:root{
    --blanco: #fff;
    --negro: #000;
    --fondo: #2f2c31;
    --fondo2:#CAB492;
    --Transparencia: #CAB49270;
    --hover: #967abb;
    --letraTitulo: 5rem;
    --letraParrafo: 2rem;
    
}
*{
    box-sizing: border-box
}
/* Barra de navegación */
a {
    text-decoration: none;
}
.navbar{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid #ddd;
    backdrop-filter: blur(5px);
}

.navbar-items{
    display: flex;
    column-gap: 12rem;
    letter-spacing: 0.3rem;
}
.navbar-items a{
    font-size: var(--letraParrafo);
    color: var(--blanco);
}


.navbar-redes{
    display: flex;
    column-gap: 6rem;
    
}
.navbar-items a:hover, .navbar-logo:hover, .red1:hover, .red2:hover, .red3:hover{
    scale: .8;
    transition: 0.8s;
    text-decoration: underline;
}

/* hero o encabezado */

.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo2);
    color: var(--blanco);
}
.name {
    margin-top: 30rem;
    font-size: 20rem;
    letter-spacing: 0.8rem;
    word-spacing: 4rem;
}
.title{
    font-size: 8rem;
    letter-spacing: 0.5rem;
}
/* palabras cambiantas */

 /* botón */
.button{
    display: block;
    padding: 2rem;
    border: 1px solid var(--blanco);
    font-size: var(--letraParrafo);
    letter-spacing: 0.3rem;
    margin-top: 10rem;
    font-size: var(--letraParrafo);
    background-color: #00000050;
    color: var(--blanco);
}    
.button:hover{
    color: #000000;
    background-image: none;
    cursor: pointer;
    transition: 1s;
    scale: .9;
    border: 1px solid #000000;
    background-color: #ffffff;
}
.scroll{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 12rem;
}
.scroll p{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.scroll img{
    position: relative;
    animation-name: moverArribaAbajo;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes moverArribaAbajo {
    0% {
      top: 0;
    }
    100% {
      top: 20px;
    }
  }
/* about me */
.aboutMe{
    width: 100%;
    height: auto;
    background-color: #383838;
    display: flex;
    gap: 5rem;
    padding: 5rem;
    color: #fff;
}

.profile{
    font-size: 3rem;
}
.profile h3{
    font-size: 4rem;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}
.profile p{
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
}

/* funcionalidad */

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

#main {
    position: relative;
    z-index: 2;
    top: 104.1rem;
}
  