/* .container{
    margin: 0 auto;
    width: 90%;
} */
/* Variables CSS */
:root{
    --blanco: #fff;
    --negro: #000;
    --fondo: #2f2c31;
    --fondo2:#CAB492;
    --Transparencia: #00000020;
    --hover: #967abb;
    --letraTitulo: 5rem;
    --letraParrafo: 2rem;
}
*{
    box-sizing: border-box
}
/* Barra de navegación */
a {
    text-decoration: none;
}
.navbar{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--Transparencia);
    align-items: center;
    position: absolute;
}

.navbar-items{
    display: flex;
    column-gap: 12rem;
    letter-spacing: 0.3rem;
}
.navbar-items a{
    font-size: var(--letraParrafo);
    color: var(--blanco);
}


.navbar-redes{
    display: flex;
    column-gap: 6rem;
    
}
.navbar-items a:hover, .navbar-logo:hover, .red1:hover, .red2:hover, .red3:hover{
    scale: .8;
    transition: 0.8s;
    text-decoration: underline;
}

/* hero o encabezado */

.container{
    width: 100%;
    height: 104.1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo2);
    color: var(--blanco);
}
.name{
    font-size: 11rem;
    letter-spacing: 0.5rem;
}
.title{
    font-size: 8rem;
    letter-spacing: 0.5rem;
}
/* palabras cambiantas */

 /* botón */
.button{
    display: block;
    padding: 2rem;
    border: 1px solid var(--blanco);
    font-size: var(--letraParrafo);
    letter-spacing: 0.3rem;
    margin-top: 10rem;
    font-size: var(--letraParrafo);
    background-color: #00000050;
    color: var(--blanco);
}    
.button:hover{
    color: #000000;
    background-image: none;
    cursor: pointer;
    transition: 1s;
    scale: .9;
    border: 1px solid #000000;
    background-color: #ffffff;
}
/* about me */
.aboutMe{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    gap: 5rem;
    padding: 5rem;

}

.profile{
    font-size: 3rem;
}
.profile h3{
    font-size: 4rem;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}
.profile p{
    word-spacing: 0.5rem;
    letter-spacing: 0.2rem;
}

/* funcionalidad */
.App {
    height: 400vh;
    /* Altura suficiente para simular el scroll */
    overflow-y: scroll;
    overflow-x: auto;
    /* Mostrar la barra de scroll vertical */
}

#header{
    position: fixed;
    /* Fijar la primera pantalla */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    /* Colocar por encima de la segunda pantalla */
}

#main {
    position: relative;
    z-index: 2;
    top: 104.1rem;
}
  