/* .container{
    margin: 0 auto;
    width: 90%;
} */
/* Variables CSS */
:root{
    --blanco: #fff;
    --negro: #000;
    --fondo: #2f2c31;
    --fondo2:#645ebf;
    --Transparencia: #CAB49270;
    --hover: #967abb;
    --letraTitulo: 5rem;
    --letraParrafo: 2rem;
    
}
*{
    box-sizing: border-box
}
/* Barra de navegación */
a {
    text-decoration: none;
}


/* funcionalidad */

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

}

#main {
    position: relative;
    z-index: 2;
    top: 104.1rem;
    background-color: #383838;
    color: #fff;
}
.navbar{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid #ddd;
    backdrop-filter: blur(5px);
}

.navbar-items{
    display: flex;
    column-gap: 12rem;
}
.navbar-items a{
    font-size: var(--letraParrafo);
    color: var(--blanco);
}


.navbar-redes{
    display: flex;
    column-gap: 6rem;
    
}
.navbar-items a:hover, .navbar-logo:hover, .red1:hover, .red2:hover, .red3:hover{
    scale: .8;
    transition: 0.8s;
    text-decoration: underline;
}

/* hero o encabezado */

.container{
    width: 100%;
    height: 104rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--fondo2);
    color: var(--blanco);
    padding: 0rem 30rem  ;
}
.hero{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.anime{
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description{
    font-size: 2rem;
    margin-top: 3rem;
}
.name {
    font-size: 8rem;
    
    
}
.title{
    font-size: 8rem;
   
}

/* palabras cambiantas */

 /* botón */
.button{
    padding: 2rem;
    width: fit-content;
    border: 1px solid var(--blanco);
    font-size: var(--letraParrafo);
    margin-top: 13rem;
    font-size: var(--letraParrafo);
    background-color: #00000050;
    color: var(--blanco);
}    
.button:hover{
    color: #000000;
    background-image: none;
    cursor: pointer;
    transition: 1s;
    scale: .9;
    border: 1px solid #000000;
    background-color: #ffffff;
}
.scroll{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 12rem;
}
.scroll p{
    font-size: 2rem;
}
.scroll img{
    position: relative;
    animation-name: moverArribaAbajo;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moverArribaAbajo {
    0% {
      top: 0;
    }
    100% {
      top: 20px;
    }
  }
/* about me */
.aboutMe{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    column-gap: 20rem;
    padding: 0rem 35rem;
    
}

.about{
    font-size: 2rem;
    
}
.about h3, .profile h3{
    font-size: 5rem;
    margin-bottom: 4rem;
    
    
}
.about p, .profile p{
    font-size: 2.4rem;
    word-spacing: 0.4rem;
}
.img{
    padding:  10rem 0rem
}
.img img{
    width: 50rem;
    height: auto;
}

.education{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.profile{
    grid-column: 1;
}
.college{
    grid-column: 2;
}

  